<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyong.master">

    <!-- 写出SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取网络 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- WIFI改变 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.huyong.HuApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.huyong.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.huyong.activity.GetIpInfoActivity" />
        <activity android:name="com.huyong.activity.RegisterActivity" />
        <activity android:name="com.huyong.activity.ForgetPsdActivity" /><activity android:name="com.huyong.activity.HideActivity" />
    </application>

</manifest>
